@mixin grid {
    display: grid; 
    grid-template-columns: 0.2fr 1fr; 
    grid-template-rows: 0.3fr 2.3fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". header"
    "sidebar main"
    ". footer"; 
}
