.header {
    position: sticky;
    left: 0;
    display: flex;
    top: 0;
    justify-content: space-between;
    height: 6.6rem;
    width: 100%;
    z-index: 98;
    .search {
        position: absolute;
    }
    .header__container {
        width: 95%;
        padding-left: 2.5rem;
        background-color: rgba(5,5,5, 0.5);
        backdrop-filter: blur(1rem);
        z-index: 99;
        .header__main {
            display: flex;
            width: 100%;
            margin-top: .7rem;
            align-items: center;
            .header__left {
                background: none;
                display: flex;
                flex-direction: column;
                .header__top {
                    margin-top: .5rem;
                    text-align: left;
                    display: flex;
                    justify-content: flex-start;
                    h1 {
                        color: white;
                        opacity: .9;
                        font-family: 'Helvetica Neue', sans-serif;
                        font-size: .9rem;
                    }
                }
                .search__input {
                    opacity: .8;
                    background: none;
                    display: flex;
                    margin-top: .85rem;
                    justify-content: center;
                    align-items: center;
                    background: none;
                    width: 100%;
                    .search__icon {
                        font-size: 2.3rem;
                        color: $pyreOrange;
                        border-radius: 50%;
                        transition: 200ms ease-in;
                    }
                    input {
                        background: none;
                        font-family: 'Helvetica';
                        margin-left: 1rem;
                        font-size: 1rem;
                        width: 20rem;
                        color: $offWhite;
                        caret-color: $offWhite;
                        outline: none;
                        border: none;
                        background-color: $background;
                        padding: .6rem 1.2rem;
                    }
                }
                .nav {
                    background: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 3rem;
                    .nav__icons {
                        background-color: $background;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        color: $pyreOrange;
                        margin: 0 10px;
                        padding: 4px;
                        transition: 200ms ease-in;
                        &:hover {
                            cursor: pointer;
                            color: orange;
                            background-color: #2c2c2c;
                        }
                        .nav__iconOne {
                            margin-right: 1px;
                            background: none;
                            font-weight: 700;
                            font-size: 2rem;
                        }
                        .nav__iconTwo {
                            margin-left: 1px;
                            background: none;
                            font-weight: 700;
                            font-size: 2rem;
                        }
                    }
                }
                
            }
        }
    }
}
