.artist__page {
    width: 90%;
    margin: 0;
    padding: 0rem 4rem;
    .artist__tracks {
        margin-top: 30px;
        h1{
            color: $offWhite;
            font-size: 2.5rem;
            font-family: 'Helvetica Neue';
        }
        .top__tracks {
            margin-top: 25px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(50%, 50%));
        }
    }
    .artist__albums {
        margin-top: 40px;
        
        h1 {
            color: $offWhite;
            font-size: 2.5rem;
            font-family: 'Helvetica Neue'
        }
        .albums {
            width: 100%;
            margin-top: 45px;
            display: grid;
            margin-left: -45px;
            grid-template-columns: repeat(auto-fit, minmax(100px, 237px));
        }
    }
    
}