.artist__page {
    margin: 0;
    padding: 0rem 3rem 6rem 3rem;
    margin-top: -1rem;
    .artist__tracks {
        width: 100%;
        margin-top: 2rem;
        z-index: 99;
        h1 {
            color: $offWhite;
            font-size: 2rem;
            font-family: $headerFont;
        }
        .top__tracks {
            width: 100%;
            margin-top: 2rem;
        }
    }
    .artist__albums {
        margin-top: 40px;
        h1 {
            color: $offWhite;
            font-size: 2rem;
            font-family: $headerFont;
        }
        .albums {
            margin: 3rem 0;
            margin-bottom: 4rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 207.5px));
            gap: 3rem;
        }
    }
}