.dashboard {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1.5rem 3.2rem;
    margin-bottom: 6rem;
    .recent__row {
        width: 100%;
        h1{
            font-size: $headerFontSize;
            font-family: $headerFont;
            margin-left: -5px;
        }
        .recent__tracks {
            display: grid;
            grid-template-columns: 49.4% 49.4%;
            column-gap: 1rem;    
        }
    }
    .home__gridone {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: white;
        .recent__artists {
            h2 {
                margin-top: 2rem;
                font-size: $headerFontSize;
                font-family: $headerFont;
            }
            .recent__items {
                margin: 2.5rem 0;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
                gap: 2rem;
            }
        }
    }
}
