.favs__page {
    padding: 2rem 3rem;
    display: flex;
    padding-bottom: 5rem;
    flex-direction: column;
    .fav__artists {
        .fav__artistsHeader {
            display: flex;
            justify-content: space-between;
            width: 100%;
            color: white;
            .fav__titles {
                h1 {
                    font-size: $headerFontSize;
                    font-family: $headerFont;
                    margin-bottom: 1rem;
                }
                p {
                    opacity: .7;
                }
            }
            .see__more {
                opacity: .7;
                display: flex;
                align-items: flex-end;
            }
        }
        .artists {
            margin: 2.5rem 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
            gap: 2.5rem;
        }
    }
    .fav__tracks {
        width: 100%;
        margin: 1rem 0 1.5rem 0;
        .fav__tracksHeader {
            display: flex;
            justify-content: space-between;
            width: 100%;
            color: white;
            .fav__tracksTitles {
                h1 {
                    font-size: $headerFontSize;
                    font-family: $headerFont;
                    margin-bottom: 1rem;
                }
                p {
                    opacity: .7;
                }
            }
            .see__more {
                opacity: .7;
                display: flex;
                align-items: flex-end;
            }
        }
        .tracks {
            margin-top: 25px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(49.4%, 49.4%));
            column-gap: 1rem;
        }
    } 
    .followed__artists {
        margin-top: 3rem;
        padding-bottom: 50px;
        .followed__artistsHeader {
            display: flex;
            justify-content: space-between;
            width: 100%;
            color: white;
            .followed__titles {
                h1 {
                    font-size: $headerFontSize;
                    font-family: $headerFont;
                    margin-bottom: 1rem;
                }
                p {
                    opacity: .7;
                }
            }
            .see__more {
                opacity: .7;
                display: flex;
                align-items: flex-end;
            }
        }
        .f__artists {
            margin: 2.5rem 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
            gap: 2.5rem;
        }
    }
}
