.library {
    margin-top: -.5rem;
    padding: 2rem 3rem;
    padding-bottom: 7.5rem;
    .library__playlists {
        width: 100%;
        .library__header {
            display: flex;
            align-items: flex-end;
            height: 100%;
            h1 {
                font-size: $headerFontSize;
                color: $offWhite;
                font-family: $headerFont;
            }
            .add__playlist {
                display: flex;
                align-items: center;
                margin-left: 35px;
                margin-bottom: .7rem;
                color: $offWhite;
                opacity: .7;
                font-size: 1rem;
                &:hover {
                    opacity: 1;
                    cursor: pointer;
                    transition: 200ms ease-in;
                }
            }
        }
        .my__playlists {
            margin: 2.5rem 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 210px));
            gap: 3rem;
        }
    }
    .library__albums {
        margin-top: 20px;
        .library__albumHeader {
            display: flex;
            align-items: flex-end;
            height: 100%;
            width: 95%;
            h1 {
                font-size: $headerFontSize;
                color: $offWhite;
                font-family: $headerFont;
            }
            p {
                display: flex;
                align-items: center;
                margin-left: 35px;
                margin-bottom: .7rem;
                color: $offWhite;
                opacity: .7;
                font-size: 1rem;
                &:hover {
                    opacity: 1;
                    cursor: pointer;
                    transition: 200ms ease-in;
                }
            }
        }
        
        .my__albums {
            margin: 2.5rem 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 207.5px));
            gap: 3rem;
        }
    }
}
