.login__page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 90vh;
    .login__container {
        background-color: #0c0c0c;
        border-radius: .5rem;
        border: 1px solid #1c1c1c;
        height: 36%;
        width: 22%;
        min-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .login__logo {
            margin: 1rem auto .5rem auto;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 40px;
            }
            h1 {
                margin-left: .3rem;
                margin-top: .5rem;
                font-size: 2rem;
                font-weight: 600;
                font-family: $headerFont;
                text-transform: uppercase;
                color: $pyreOrange;
                letter-spacing: .1rem;
            }
        }
        h1 {
            margin: .3rem;
            font-size: 2.2rem;
            color: $offWhite;
        }
        h2 {
            margin-top: 1rem;
            color: $offWhite;
            opacity: .7;
            font-weight: 400;
            font-size: .9rem;
            letter-spacing: .2rem;
            &:hover {
                opacity: 1;
            }
            span {
                margin-left: .3rem;
                &:hover {
                    opacity: 1;
                    text-decoration: underline;
                }
            }
        }
        .login__button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.3rem 1rem;
            width: 65%;
            margin: .5rem;
            font-weight: 600;
            font-size: 1rem;
            background: linear-gradient(90deg, rgba(227,197,45,1) 0%, rgba(255,145,0,1) 100%);
            text-decoration: none;
            color: $offWhite;
            border-radius: 30px;
            transition: 200ms ease-in;
            text-transform: uppercase;
            letter-spacing: .2rem;
            &:hover { 
                color: $offWhite;
                background: orange;
            }
        }
    }
}