.search__page {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 87vw;
    height: 80vh;
    padding: 0rem 4rem;
    z-index: 10;
    background-color: #050505;
    padding-top: 7rem;
    h2 {
        color: white;
        font-size: 2.5rem;
        font-family: 'Helvetica Neue';
        margin-top: 25px;
    }
    .search__header {
        display: flex;
        justify-content: space-between;
        h1 {
            color: white;
            font-size: 6rem;
            font-family: 'Helvetica Neue';
            margin-top: 10px;
        }
        .clear__icon {
            margin-top: 15px;
            color: white;
            font-size: 5rem;
            opacity: 0.8;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
    .search__results {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 40px;
        grid-column-gap: 50px;
        margin-top: 30px;
        .search__tracks {
            display: flex;
            margin-top: 10px;
        }
        .search__artists {
            h2 {
                margin-top: -75px;
                color: white;   
                margin-left: 20px;
                margin-bottom: 20px;
                font-size: 2rem;
                font-family: 'Helvetica Neue';
            }
            .artist__container {
                display: flex;
                flex-direction: row;
            }
        }
        
    }
    .search__playlists {
        display: flex;
        padding-bottom: 20px;
    }
}