.search__page {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 77vh;
    padding: 8rem 3rem 0 3rem;
    overflow: auto;
    z-index: 10;
    background-color: #050505;
    &::-webkit-scrollbar {
        display: none;
    }
    .search__header {
        display: flex;
        width: 100%;
        h2 {
            color: white;
            font-size: $headerFontSize;
            font-family: $headerFont;
        }
    }
    .search__results {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        .search__tracks {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 10px;
            .search__tracksContainer {
                display: flex;
                margin: 2rem 0;
            }
            .search__artistsContainer {
                margin: 2rem 0;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
                gap: 2.5rem;
                margin-left: 4.5rem;
            }
        }
        h3 {
            font-size: 2rem;
            color: $offWhite;
        }
        .search__playlists {
            margin: 3rem 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 210px));
            gap: 3rem;
        }
    }
    
}

body::-webkit-scrollbar {
    display: none;
}