.user__page {
    margin: 0;
    padding: 0rem 3rem;
    padding-bottom: 7rem;
    .user__playlistsTitle {
        margin: 3rem 0 1rem 0;
        font-size: 2rem;
        color: $offWhite;
        font-family: $headerFont;
    }
    .user__playlists {
        margin: 2rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 210px));
        gap: 3rem;
    }
}
