.favs__page {
    margin-left: 210px;
    margin-top: 25px;
    padding-bottom: 90px;
    .fav__artists {
        h1 {
            color: $offWhite;
            font-size: 4rem;
            font-family: 'Helvetica Neue'
        }
        .artists {
            display: grid;
            margin-top: 50px;
            grid-template-columns: repeat(auto-fit, minmax(100px, 199px));
        }
    }
    .fav__tracks {
        width: 98%;
        margin-top: 25px;
        h2 {
            color: $offWhite;
            font-size: 2.5rem;
            font-family: 'Helvetica Neue'
        }
        .tracks {
            margin-top: 25px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(50%, 50%));
        }
    } 
    .followed__artists {
        margin-top: 3rem;
        padding-bottom: 50px;
        h1 {
            color: white;
            font-size: 2.5rem;
            font-family: 'Helvetica Neue';
        }
        .f__artists {
            margin-left: -20px;
            display: grid;
            margin-top: 2.5rem;
            grid-template-columns: repeat(auto-fit, minmax(100px, 199px));
        }
    }
}
