.followed__container {
    display: flex;
    flex-direction: column;
    p {
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        color: $offWhite;
        margin-left: 20px;
        width: calc(75%);
        margin-top: 14px;
        font-size: 1rem;
        font-family: 'Helvetica';
        position: relative;
        background: none;
        z-index: 2;
        &:hover {
            cursor: pointer;
        }
    }
    .followed__artist {
        z-index: 2;
        width: 100%;
        margin-left: 20px;
        margin: 10px 20px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        opacity: 0.8;
        transition: 200ms ease-in;
        cursor: pointer;
        .play__icon {
            display: none;
        }
        &:hover {
            opacity: 1;
            transform: scale(1.05);
            
            .play__icon {
                display: flex;
                color: $pyreOrange;
                background: none;
                border-radius: 50%;
                margin: auto;
                font-size: 3rem;
            }
        }
    }
}
