.footer {
    position: fixed;
    bottom: 0;
    width: 97%;
    padding: 25px 30px;
    align-items: center;
    z-index: 99;
    p {
        color: white;
        font-family: 'Helvetica';
        padding: 5px;
        position: relative;
        right: 0;
        margin-bottom: 5px;
        font-size: 0.8em;
        opacity: 0.8;
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
}