.home {
    display: flex;
    background: none;
    flex-direction: column;
    .recent__row {
        h1{
            font-size: 5rem;
            font-family: 'Helvetica Neue';
            margin-left: -5px;
        }
    }
    .home__gridone {
        display: flex;
        flex-direction: column;
        width: 80%;
        color: white;
        margin-left: 213px;
        margin-top: 10px;
        .recent__items {
            display: flex;
            margin-top: 40px;
            margin-left: -20px;  
            z-index: 2;      
        }
        .recent__artists {
            h2 {
                margin-top: 15px;
                font-size: 3.5rem;
                font-family: 'Helvetica Neue';
            }
            margin-top: 10px;
            font-size: 1rem;
        }
    }
}