.login__page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .login__container {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.35rem 2rem;
            font-weight: 600;
            font-size: 1.2rem;
            background-color: $background;
            text-decoration: none;
            color: $offWhite;
            border-radius: 30px;
            transition: 200ms ease-in;
            &:hover { 
                color: $offWhite;
                background-color: $pyreOrange;
            }
        }
    }
}