.sidebar {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 82vh;
    position: fixed;
    margin: 30px;
    min-width: 125px;
    width: 5%;
    background-color: $background;
    .sidebar__options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $background;
        margin-top: 25px;
        background: none;
        .side__option {
            background: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            margin-top: 10px;
            border-radius: 20px;
            font-size: 3rem;
            color: $pyreOrange;
            background-color: #555555;
            transition: 200ms ease-in;
            &:active {
                background-color: #4A4A4A;
            }
            &:hover {
                background-color: #4A4A4A;
                cursor: pointer;
            }
        }
    }
    .inactive__options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $background;
        margin-top: 25px;
        background: none;
        .side__option {
            background: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            margin-top: 10px;
            border-radius: 20px;
            font-size: 3rem;
            color: $pyreOrange;
            background-color: #2C2C2C;
            transition: 200ms ease-in;
            &:active {
                background-color: #4A4A4A;
            }
            &:hover {
                background-color: #4A4A4A;
                cursor: pointer;
            }
        }
    }
    .sidebar__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $background;
        background: none;
        .pyre__logo {
            position: absolute;
            margin-bottom: 40px;
            bottom: 0;
            width: 90px;
            background-color: $background;
            background: none;
        }
    }
    
}