.artist__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        color: $offWhite;
        width: calc(75%);
        margin-top: 20px;
        font-size: 1.2rem;
        font-family: 'Helvetica';
        z-index: 2;
        position: relative;
        background: none;
        &:hover {
            cursor: pointer;
        }
    }
    .top__artist {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 17px;
        transition: 200ms ease-in;
        opacity: 0.8;
        cursor: pointer;
        z-index: 2;
        .play__icon {
            display: none;
        }
        &:hover {
            opacity: 1;
            transform: scale(1.05);
            .play__icon {
                display: flex;
                color: $pyreOrange;
                background: none;
                border-radius: 50%;
                margin: auto;
                font-size: 3rem;
                &:hover {
                    color: orange;
                }
            }
        }
    }
}
