.user__page {
    margin-left: 210px;
    padding-bottom: 100px;
    .user__playlists {
        margin-top: 75px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 254px));
        grid-column-gap: 20px;
    }
}
