.artist__info {
    display: flex;
    margin-top: 50px;
    img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        box-shadow: 0px 1px 0px 0px rgba( 0, 0, 0, 0.3 ) ;
    }
    .info {
        margin-top: 10px;
        margin-left: 45px;
        h1 {
            color: $offWhite;
            font-weight: 600;
            font-size: 5rem;
            font-family: $headerFont;
            position: relative;
            z-index: 2;
            background: none;
        }
        p {
            margin-top: 5px;
            color: $offWhite;
            font-size: 1.3rem;
            margin-left: 5px;
        }
    }
}

.artist__icons {
    margin-top: 40px;
    display: flex;
    .play__icon {
        font-size: 5rem;
        color: $pyreOrange;
        &:hover {
            color: orange;
            cursor: pointer;
            transform: scale(1.08);
            transition: 200ms ease-in;
        }
    }
    .fav__icon {
        font-size: 2.5rem;
        margin: 20px 20px;
        color: $pyreOrange;
        &:hover {
            color: orange;
            cursor: pointer;
            transform: scale(1.08);
                    transition: 200ms ease-in;
        }
    }
}